div#filterDev{
	width: 500px;
	position: relative;
}
span.glyphicon-menu-right,
span.glyphicon-menu-Down,
span.glyphicon-menu-Up,
span.itemUp{
	float: right;
	cursor: pointer;
}
div.listWrapper{
	position: relative;
}
div.backIconDev{
	cursor: pointer;
	margin: 15px;
}
div.itemContent{
	background-color: #eee;
}

